

body, html {
	font: arial;
	color: #3C3C3C;
	margin: 0;
	padding: 0;
}

body {
	min-width: 800px;
	background:#003333;
	font: arial;
}

#wrap {
	background: #CCDFC8;
	width: 1207px;
	min-height: 100vh;
	overflow: auto; /*This is the key to make container adjust to incorporate more content*/
	margin: 0 auto;
	border: 5px double #056571;
}

#header {
	margin:0;
	padding:0;
	background: #626E60 url(Banner.jpg) no-repeat top left;
	width: 1207px;
	height: 155px;
}

nav ul {
	margin: 0;
	padding: 0;
	background: #056571;
	color:	#ebebaf;
}

nav ul li{
	display: inline-block;
	margin: 2px 8px 2px 8px;
}

nav ul li a{
	color: #ebebaf
}

a{
	color: #3C3C3C	 ;
}

a:hover{
	color: #4B9CD3;
}

.post {
	margin: 20px 20px 20px 20px;
	width: 765px;
	min-height: 100px;
	height: auto;
	float: left;
	background: #FFFFFF;
	border: 2px double #414141;
}

.post p{
	margin: 6px;
}

h1, h2, h3, h4, h5, h6{
	color: #156571;
}

#sidebar {
	margin: 20px 20px 20px 20px;
	width: 350px;
	height: 200px;
	float: right;
	background: #FFFFFF;
	border: 2px double #414141;
}